body {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }

.exam-container {
    background-color: #fff;
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.question {
    margin-bottom: 20px;
}

.options {
    list-style: none;
    padding: 0;
}

.option {
    margin-bottom: 10px;
}

.btn {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 30px; 
}