<body>
        <div class="exam-container">
          <h2>Sección 3: Gramatica</h2>
      
          <div class="question" *ngIf="currentQuestion === 1">
            <p>Ejercicio 1: Complete the sentence with the correct form of the verb:</p>
            <p>"She ___ English every day."</p>
            <ul class="options">
              <li class="option"><input type="radio" name="q5" value="a" (click)="seleccionarRespuesta('a')"> a) study </li>
              <li class="option"><input type="radio" name="q5" value="b" (click)="seleccionarRespuesta('b')"> b) studies </li>
              <li class="option"><input type="radio" name="q5" value="c" (click)="seleccionarRespuesta('c')"> c) studying</li>
            </ul>
            <button class="btn" (click)="regresarAudio()">Regresar Audio</button>
            <button class="btn" (click)="nextQuestion()">Siguiente Pregunta</button>
          </div>
      
          <div class="question" *ngIf="currentQuestion === 2">
            <p>Ejercicio 2: Choose the correct pronoun to complete the sentence:</p>
            <p>"___ is going to the party tonight."</p>
            <ul class="options">
              <li class="option"><input type="radio" name="q5" value="a" (click)="seleccionarRespuesta('a')"> a) He </li>
              <li class="option"><input type="radio" name="q5" value="b" (click)="seleccionarRespuesta('b')"> b) Her </li>
              <li class="option"><input type="radio" name="q5" value="c" (click)="seleccionarRespuesta('c')"> c) They </li>
            </ul>
            <button class="btn" (click)="prevQuestion()">Anterior Pregunta</button>
            <button class="btn" (click)="nextQuestion()">Siguiente Pregunta</button>
          </div>
      
          <div class="question" *ngIf="currentQuestion === 3">
            <p>Ejercicio 3: Which option correctly completes the sentence with the correct form of the verb?</p>
            <p>"We ___ our homework yesterday."</p>
            <ul class="options">
              <li class="option"><input type="radio" name="q5" value="a" (click)="seleccionarRespuesta('a')"> a) do </li>
              <li class="option"><input type="radio" name="q5" value="b" (click)="seleccionarRespuesta('b')"> b) does </li>
              <li class="option"><input type="radio" name="q5" value="c" (click)="seleccionarRespuesta('c')"> c) did </li>
            </ul>
            <button class="btn" (click)="prevQuestion()">Anterior Pregunta</button>
            <button class="btn" (click)="submitExam()">Finalizar Examen</button>
          </div>
        </div>
</body>
