<section class="home">
    <div class="header-home">
        <button (click)="onClick()" class="btn-logout btn btn-info">Logout</button>
    </div>
    <div class="wrapper">
        <div class="card" style="width: 18rem;">
            <img src="/assets/images/salon.jpg" class="card-img-top">
            <div class="card-body">
              <h1 class="card-title">Examen de Ingles - Nivel 2</h1>
              <p class="card-text">Este examen es para evaluar tu nivel de ingles, tanto en la parte gramatica, la parte lectora y la parte auditiva.</p>
              <button href="#" class="btn btn-primary" (click)="irPreguntas()">Empezar examen</button>
            </div>
        </div>
    </div>
</section>
