<section class="home">
    <div class="header-registro">
        <!-- <mat-icon class="icon-back" (click)="regresar()">arrow_back</mat-icon>
        <mat-icon class="icon-forward">arrow_forward</mat-icon> -->
        <button (click)="onClick()" class="btn-logout btn btn-info">Logout</button>
    </div>
    <div class="wrapper">
        <div class="card" style="width: 18rem;">
            <img src="/assets/images/salon.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Titulo del examen</h5>
              <p class="card-text">Descripción del examen.</p>
              <button href="#" class="btn btn-primary" (click)="irPreguntas()">Empezar examen</button>
            </div>
        </div>
    </div>
</section>
