<section class="login">
    <div class="wrapper">
        <div class="section-left">
            <img src="/assets/images/FCCBuap.png" class="logo-fcc">
        </div>
        <div class="section-right">
            <section>
                <form [formGroup]="formLogin" (ngSubmit)="verificaLogin()">
                  <div class="mb-3">
                    <h1 class="title">App Examen</h1>
                    <h2 class="title-login">Login</h2>
                    <label for="exampleInputEmail1" class="form-label">Correo Institucional</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email" placeholder="Correo">
                    <div id="emailHelp" class="form-text">Su correo electronico no se compartirá con nadie más.</div>
                  </div>
                  <label for="exampleInputPassword1" class="form-label">Contraeña</label>
                  <div class="pt-3 mb-3">
                    <div class="input-group input-group-merge">
                        <input type="{{type}}" id="password" name="password_user" class="form-control pwd" placeholder="Contraseña" (keyup.enter)="verificaLogin()" formControlName="password">
                        <div class="input-group-text" id="show-password" data-password="false">
                            <i *ngIf="type == 'password'" class="bi bi-eye-fill" (click)="showPassword()"></i>
                            <i *ngIf="type == 'text'" class="bi bi-eye-slash-fill" (click)="showPassword()"></i>
                          </div>
                    </div>
                    <div *ngIf="errors.password" class="invalid-feedback">{{ errors.password }}</div>
                </div>
                  <button type="submit" class="btn btn-primary">Login</button>
                  <div id="registro" class="form-text">¿No tienes una cuenta aún? Registrate</div>
                  <button type="submit" class="btn btn-primary" (click)="registro()">Registrarte</button>
                  <br>
                </form>
              </section>
        </div>
    </div>
</section>
