.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
}

.section-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    //Fondo
    background-image: url("/assets/images/login-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //Fondo
    background-image: url("/assets/images/login-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

// .input-group-text {
//     background: #FFFFFF 0% 0% no-repeat padding-box;
//     border: 2px solid #3E3E3E;
//     opacity: 1;
//     border-left: none!important;
// }

.logo-fcc {
    width: 500px;
    height: 180px;
} 

.form-label {
    font-size: 20px;
}

.title {
    font-size: 50px;
    margin-bottom: 80px;
}

.title-login {
    font-size: 30px;
    margin-bottom: 50px;
}